main {
    margin-top: 4.5rem;
    @media (min-width: 567px) {
        display: flex;
        justify-content: space-evenly;
    }

    img {
        margin-left: calc((100% - 300px) / 2);
        width: 300px;
        @media (min-width: 567px) {
            margin-left: 0;
        }
    }

    header {
        display: block;
        margin-top: 0.5rem;

        h1 {
            text-align: center;
        }
        p {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

#listOfCategories {
    margin-top: 1.5rem;
    @media (min-width: 567px) {
        margin-top: 2rem;
    }

    #category-item {
        border: 2px solid transparent;
        box-shadow: 2px 2px 5px gray;
        color: black;
        display: block;
        margin-bottom: 2rem;
        padding: 1rem;
        text-decoration: none;
        width: 95%; margin-left: 2.5%;

        &:hover {
            border: 2px solid orange;
        }
        @media (min-width: 567px) {
            display: flex;
            justify-content: space-around;
            width: 500px;
            margin-left: calc((100% - 500px) / 2);
        }
        @media (min-width: 767px) {
            width: 700px;
            margin-left: calc((100% - 700px) / 2);
        }

        @media (min-width: 1200px) {
            width: 49%;
            margin-left: 0px;
        }

        img {
            width: 260px;
            height: 162px;
            margin-left: calc((100% - 280px) / 2);
            @media (min-width: 567px) {
                margin-left: 0;
            }
        }

        div {
            text-align: center;
            
            @media (min-width: 567px) {
                padding: 0.5rem;
                width: 50%;
            }

            span {
                color: blue;
                display: block;
                font-size: 1.2rem;
                padding-top: 0.5rem;
                text-decoration: underline;
            }
        }
        
    }
}

#searchproducts {
    margin-top: 1rem;
    margin-bottom: 5vh;

    header{
        h1 {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .form {
        box-shadow: 2px 2px 5px gray;
        padding: 1rem;
        margin-top: 1rem;
        width: 95%; margin-left: 2.5%;
        @media (min-width: 567px) {
            width: 85%; margin-left: 7.5%;
        }
        
        .field-row {
            display: block;
            @media (min-width: 567px) {
                display: flex;
                justify-content: space-between;
            }

            .field-item {
                padding: 0.2rem;
                @media (min-width: 567px) {
                    width: 48%;
                }

                label {
                    display: block;
                    font-size: 1.1rem;
                    font-weight: bold;
                }
                input, select {
                    width: 98%;
                    font-size: 1.1rem;
                    margin: 0.5rem 1px;
                    padding: 0.35rem;
                    border-radius: 10px;
                    border: 1px solid #0005;
                }
            }
        }

        button {
            width: 90%;
            margin-left: 5%;
            margin-top: 1rem;
            @media (min-width: 567px) {
                width: 70%;
                margin-left: 15%;
            }
        }
        
    }
}
