@import 'mixings.scss';

.commonscss-container {
    width: 90%;
    margin-left: 5%;
    
    @include tabletscreen { 
        width: 85%;
        margin-left: 7.5%;
    }

    @include desktopscreen  {
        max-width: 1100px;
        margin-left: calc((100vw - 1100px) / 2);
    }
}

.common-two-row-on-1200px {
    @include desktopscreen  {
        display: flex;
        justify-content: space-between;
    }
}

.commonscss-row-card-responsive {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 2rem;

    @include tabletscreen {
        grid-template-columns: 1fr 1fr;
        column-gap: 5vw;
    }

    @include desktopscreen {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4vw;
    }
}

.commonscss-hiddenonmobile {
    @include mobilescreen {
        display: none;
    }
}
