main {
    margin-top: 4.5rem;
    @media (min-width: 567px) {
        display: flex;
        justify-content: space-evenly;
    }

    img {
        margin-left: calc((100vw - 320px) / 2);
        width: 320px;
        @media (min-width: 567px) {
            margin-left: 0;
        }
    }

    header {
        display: block;
        margin-top: 0.5rem;

        h1 {
            text-align: center;
        }
        p {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

#onsale {
    #products {
        padding-top: 3rem;

        #product-card {
            box-shadow: 1px 1px 3px gray;
            padding: 0.5rem;

            .card-header {
                position: relative;
                img {
                    max-height: 350px;
                    width: 60%;
                    height: 60%;
                    margin-left: 20%;
                }
                h3 {
                    text-align: center;
                    margin: 0.5rem 0;
                }
                .discount {
                    position: absolute;
                    right: 0.5rem;
                    top: 0.5rem;
                    width: 96px;
                    width: 96px !important;
                    height: 96px !important;
                }
            }
            .card-contents{
                margin-left: 2.5%;
                width: 95%;
                @media (min-width: 1200px) {
                    margin-left: 0%;
                    width: 100%;
                }

                .rating {
                    display: flex;
                    justify-content: space-between;
                    img {
                        height: 32px;
                        @media (min-width: 567px) {
                            height: 24px;
                            width: 130px;
                        }   
                    }
                    h3 {
                        background-color: rgba(255, 166, 0, 0.562);
                        border-radius: 3rem;
                        margin-right: 0.2rem;
                        padding: 0.2rem 1rem;
                        del {
                            color: gray;
                            font-weight: 300;
                            margin-left: 0rem;
                        }
                    }
                }
                .buynow {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;
                    padding-top: 0.1rem;
                    button {
                        margin-top: 0 !important;
                        padding-top: 0 !important;
                        width: 50% !important;
                    }
                    p {
                        padding-top: 0.25rem;
                    }
                }
            }
        }
    }
}